*{
    margin: 0;
    padding: 0;
    border: 1px dotted #777777;
}

body{
    font-family: "comic sans ms";
}

.header .navbar{
    display: flex;
}

.header .navbar nav{
    margin: 0px 20px;
}

#form form input {
    display: block;
}

#chart .header.row{
    font-weight: bold;
    font-size: larger;
}

#chart .row{
    display: flex;
    text-align: center;
}

#chart .row .fname,
#chart .row .lname,
#chart .row .city{
    flex: 2;
}

#chart .row .age{
    flex: 1;
}
