*{
    margin: 0;
    padding: 0;
    border: 1px dotted #777777;
}

body{
    font-family: "comic sans ms";
}

.header .navbar{
    display: flex;
}

.header .navbar nav{
    margin: 0px 20px;
}

form input {
    display: block;
}





